@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
}

body {
  background-color: var(--white);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Hanken Grotesk', sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.card,
.summary {
  display: flex;
  flex-direction: column;
}

.card {

  align-items: center;

  height: 430px;
  width: 320px;
  border-radius: 25px;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.card-header{
  font-size: 20px;
  margin-top: 25px;
  font-weight: 800;

  color: hsl(241, 100%, 89%);
}

.marks{
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  height: 170px;
  width: 170px;
  border-radius: 50%;
  margin-top: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.marks h1{
  font-size: 70px;
  color: var(--pale-blue);
  margin: 0;
  line-height: 1;
}

.marks p{
  margin: 0;
  color: hsl(241, 100%, 89%);
}

.card h2{
  font-size: 30px;
  font-weight: 800;
  color: var(--pale-blue);
  line-height: 1;
  margin-bottom: 0;
}

.bottom-text{
  color: hsl(241, 100%, 89%);
  width: 220px;
  text-align: center;
  margin-bottom: 30px;
}

.summary {
  z-index: -2;
  background-color: var(--white);

  width: 300px;
  height: 430px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 0px;
  padding-left: 40px;
  margin-left: -20px;


  border-radius: 0px 20px 20px 0px;
  box-shadow: 12px 12px 16px var(--pale-blue);
}

.summary h3 {
  margin-top: 21px;
  font-size: 22px;
  font-weight: 800;

  color: hsl(224, 30%, 27%);
}

.sum-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 14px;
}

.reaction {
  background-color: hsla(0, 100%, 67%, 0.15);
  border-radius: 8px;

  width: 275px;
  height: 50px;

  display: flex;
  align-items: center;

}

.reaction img{
  margin-left: 10px;
}

.reaction h4{
  margin-left: 8px;
  color: hsl(0, 100%, 67%);
}

.reaction p{
  margin-left: 98px;
  color: hsl(224, 30%, 27%);
  font-weight: 800;
}




.memory {
  background-color: hsla(39, 100%, 56%, 0.15);
  border-radius: 8px;

  width: 275px;
  height: 50px;

  display: flex;
  align-items: center;
}

.memory img{
  margin-left: 10px;
}

.memory h4{
  margin-left: 8px;
  color: hsl(39, 100%, 56%);
}

.memory p{
  margin-left: 98px;
  color: hsl(224, 30%, 27%);
  font-weight: 800;
}

.verbal {
  background-color: hsla(166, 100%, 37%, 0.15);
  border-radius: 8px;

  width: 275px;
  height: 50px;

  display: flex;
  align-items: center;
}

.verbal img{
  margin-left: 10px;
}

.verbal h4{
  margin-left: 8px;
  color: hsl(166, 100%, 37%);
}

.verbal p{
  margin-left: 110px;
  color: hsl(224, 30%, 27%);
  font-weight: 800;
}

.visual {
  background-color: hsla(234, 85%, 45%, 0.15);
  border-radius: 8px;

  width: 275px;
  height: 50px;

  display: flex;
  align-items: center;
}

.visual img{
  margin-left: 10px;
}

.visual h4{
  margin-left: 8px;
  color: hsl(234, 85%, 45%);
}

.visual p{
  margin-left: 112px;
  color: hsl(224, 30%, 27%);
  font-weight: 800;
}

.btn {
  background-color: hsl(224, 30%, 27%);
  margin-top: 34px;

  width: 275px;
  height: 50px;

  border-radius: 30px;

  font-weight: 800;
  color: white;

  box-shadow: 6px 6px 12px hsl(241, 100%, 89%);
}

